.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.id{
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.8px;
}

.description{
    margin-top: 0.8rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
    color: var(--main-tertiary-text-color);
}

.senderAddress {
    display: flex;
    font-style: normal;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: right;
    letter-spacing: -0.229167px;
    color: var(--main-tertiary-text-color);
}

@media all and (max-width:420px) {
    .container {
        flex-direction: column;
        row-gap: 3rem;
    }
    .id {
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: -0.25px;
    }
    .senderAddress{
        text-align: left;
    }
}