.container {
    position: relative;
    z-index: 15;
}

.container>div{
    height: 100vh;
    width: 10.3rem;
    background: var(--layout-aside-bg-color);
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lowerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconSpan {
    color: var(--layout-aside-icon-color);
    font-size: 2rem;
    margin-bottom: 3.21rem;
    cursor: pointer;
}

.iconSpan:hover{
    color: #DFE3FA;
}

@media all and (max-width: 1000px){
    .container>div{
        width: 8rem;
    }
}

@media all and (max-width: 950px) {
    .container>div {
        height: 8rem;
        width: 100vw;
        border-radius: 0;
        flex-direction: row;
    }
    .lowerDiv {
        flex-direction: row;
    }
    .iconSpan {
        margin-bottom: 0;
        margin-right: 3.2rem;
    }
}

@media all and (max-width:550px) {
    .container>div{
        height: 7.2rem;
    }
    .iconSpan {
        margin-right: 2.4rem;
    }
}