.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  background: var(--main-bg-color);
}

.mainDiv {
    width: 73rem;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media all and (max-width:768px) {
  .mainDiv {
    padding: 0 4rem;
  }
}

@media all and (max-width:550px) {
  .mainDiv {
    padding: 0 2.4rem;
  }
}