.logoDiv {
    width: 100%;
    height: 10.3rem;
    background: #7C5DFA;
    position: relative;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logoDiv::after {
    content: '';
    height: 10.3rem;
    width: 100%;
    position: absolute;
    background: #9277FF;
    border-radius: 20px 0px 0px 20px;
    top: 5.15rem;
    left: 0;
}


.logoDiv>div {
    position: relative;
    z-index: 1;
    width: 4rem;
    height: 3.77rem;
}

@media all and (max-width:1000px){
    .logoDiv {
        height:8rem
    }
    .logoDiv::after{
        height: 8rem;
        top:4rem;
    }
    .logoDiv>div{
        width: 3.1rem;
        height: 2.9rem;
    }
}

@media all and (max-width:950px){
    .logoDiv, .logoDiv::after{
        height: 100%;
        width: 8rem;
    }
}

@media all and (max-width:550px) {
 .logoDiv, .logoDiv::after {
     width: 7.2rem;
 }
}