.container{
    margin-right: 4.0rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.selectFilter {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.selectFilter h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
    margin-right: 1.6rem;
}

.selectFilter h3>span{
    font-weight: bold;
    color: var(--main-bold-text-color);
}

.selectFilter>span {
    color:#7C5DFA;
    font-size: 2rem;
}

.filterList{
    width: 19.2rem;
    background: var(--filterbox-bg-color);
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
    border-radius: 8px;
    position: absolute;
    top: 0rem;
    left: -3rem;
    margin-top: 6rem;
    padding: 2.4rem 0 2.4rem 2.4rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

@media all and (max-width:620px) {
    .selectFilter{
        margin-top: 0.5rem;
    }
    .selectFilter h3{
        margin-right: 1.2rem;
    }
    .container h3>span{
        display: none;
    }
    .filterList {
        left: -7rem;
    }
}

@media all and (max-width: 550px) {
    .container{
        margin-right: 2rem;
    }
}

@media all and (max-width: 350px) {
    .container {
        margin-right: 1rem;
    }
}