.container{
    width: 24.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.picture{
    width: 100%;
    height: auto;
}

.textDiv{
    width: 22rem;
    text-align: center;
    margin-top: 5.5rem;
}

.container h2 {
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: -0.625px;
}

.container p {
    margin-top: 2.4rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
}

.container p span {
    font-weight: 700;
}